* {
    padding: 0;
    margin: 0;
    font-family: "Lato";
    font-weight: 300;
}

#div_timer {
    position: fixed;
    margin-left: 16%;
    justify-content: center;
}

.firstSceen {
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstSceen input {
    margin-bottom: 20px;
    height: 50px;
    border-radius: 71px;
}

.group_name {
    width: 50%;
    border-radius: 4px;
    border: 1px solid #0062cc;
    padding: 2px 8px;
}

.userName {
    border-radius: 4px;
    border: 1px solid #0062cc;
    padding: 2px 8px;
}

.firstSceen div {
    border: 2px solid white;
    padding: 70px;
    border-radius: 25px;
}

.firstSceen p {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.btnJoin {
    width: 100%;
    border-radius: 1rem;
    padding: 1.6%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}

.wrapper {
    justify-content: center;
    display: none;
    margin: 5%;
    padding-bottom: 25px;
    background: #eee;
    width: 50%;
    border: 2px solid #0062cc;
    border-radius: 4px;
}

.chatbox {
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 300px;
    width: 600px;
    border: 1px solid #0062cc;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #0062cc;
}

.message {
    padding: 15px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.message label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    font-family: "Lato";
}

.submitmsg {
    background: #0062cc;
    border: 2px solid white;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
}

.usermsg {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #0062cc;
}

.menu {
    padding: 15px 25px;
    display: flex;
}

.menu p.group_count {
    flex: 1;
}

.btnout {
    background: hsl(0, 100%, 40%);
    border: 2px solid white;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
}

.left {
    text-align: left;
    font-weight: bold;
    background: #00ccaa;
    color: white;
    padding: 2px 4px;
    font-size: 100%;
    width: 65%;
    border-radius: 4px;
    margin: 5px 7px 0px 0;
}

.right {
    align-self: flex-end;
    text-align: right;
    font-weight: bold;
    background: #810ece;
    color: white;
    padding: 2px 4px;
    font-size: 100%;
    border-radius: 4px;
    margin: 5px 7px 0px 0;
    width: 65%;
}

.left p {
    text-align: left;
    margin: 1%;
}

.right p {
    margin: 1%;
    text-align: right;
}